In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
bird_df = pd.read_csv("C:\\Users\\hp\\Downloads\\largest-islands-project\\bird-neck-bones.csv")
bird_df

                 species  neck_vertebrae
0      cinereous vulture              13
1             guineafowl              14
2   red-legged partridge              14
3    blue-cheeked parrot              12
4       northern pintail              15
..                   ...             ...
76              barn owl              12
77       eurasian hoopoe              13
78                 murre              13
79  new zealand rockwren              13
80              bushwren              13

[81 rows x 2 columns]

In [3]:
bird_df.head()

                species  neck_vertebrae
0     cinereous vulture              13
1            guineafowl              14
2  red-legged partridge              14
3   blue-cheeked parrot              12
4      northern pintail              15

In [4]:
bird_df.shape

(81, 2)

In [5]:
bird_df.shape[0]

81

In [6]:
bird_df.shape[1]

2

In [9]:
minimum = bird_df['neck_vertebrae'].min()#minimum number of neck vertebrae
print(minimum)

10

In [10]:
bird_df.iloc[minimum]

species           kiwi
neck_vertebrae      14
Name: 10, dtype: object

In [11]:
human_df = pd.read_csv("C:\\Users\\hp\\Downloads\\largest-islands-project\\adult-human-skeleton.csv")
human_df

                             name region subregion    side  fused_from
0                         frontal   head   cranium  center           2
1                   left parietal   head   cranium    left           1
2                  right parietal   head   cranium   right           1
3                   left temporal   head   cranium    left           1
4                  right temporal   head   cranium   right           1
..                            ...    ...       ...     ...         ...
201  right distal pedal phalanx 1   foot      toes   right           1
202  right distal pedal phalanx 2   foot      toes   right           1
203  right distal pedal phalanx 3   foot      toes   right           1
204  right distal pedal phalanx 4   foot      toes   right           1
205  right distal pedal phalanx 5   foot      toes   right           1

[206 rows x 5 columns]

In [12]:
human_df.shape[0]#total number of bones

206

In [14]:
arm_region = human_df.query('region == "arm"')
arm_region

             name region  subregion   side  fused_from
86   left humerus    arm  upper-arm   left           3
87  right humerus    arm  upper-arm  right           3
88    left radius    arm  lower-arm   left           2
89   right radius    arm  lower-arm  right           2
90      left ulna    arm  lower-arm   left           2
91     right ulna    arm  lower-arm  right           2

In [15]:
arm_region.shape[0]

6

In [16]:
leg_region = human_df.query('region == "leg"')
leg_region

              name region  subregion   side  fused_from
146     left femur    leg  upper-leg   left           3
147    right femur    leg  upper-leg  right           3
148   left patella    leg       knee   left           1
149  right patella    leg       knee  right           1
150     left tibia    leg  lower-leg   left           2
151    right tibia    leg  lower-leg  right           2
152    left fibula    leg  lower-leg   left           2
153   right fibula    leg  lower-leg  right           2

In [18]:
leg_region.shape[0]
lego = leg_region['name']
lego

146       left femur
147      right femur
148     left patella
149    right patella
150       left tibia
151      right tibia
152      left fibula
153     right fibula
Name: name, dtype: object

In [19]:
#number of ribs
rib_df = human_df[human_df['name'].str.contains("rib",case = False)]
num_ribs = rib_df.shape[0]
print("Number of ribs in human:",num_ribs)

Number of ribs in human: 24